<!DOCTYPE html>
<html>
    <head>
        <title>Productos</title>
    </head>
    <body>
        <h1>Productos</h1>
        <ul>
        <% productos.forEach((producto) => { %>
            <li><%= producto.nombre %></li>
        <% }); %>
        </ul>
    </body>
</html>
